<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <nav class="hero__nav">
      <ul class="hero__nav-list">
        <li class="hero__nav-item text-p-default"><a href="#">View all</a></li>
        <li class="hero__nav-item text-p-default"><a href="#">Design</a></li>
        <li class="hero__nav-item text-p-default">
          <a href="#articles">Articles</a>
        </li>
        <li class="hero__nav-item text-p-default"><a href="#">Product</a></li>
        <li class="hero__nav-item text-p-default">
          <a href="#">Software Development</a>
        </li>
        <li class="hero__nav-item text-p-default">
          <a href="#">Customer Success</a>
        </li>
      </ul>
    </nav>
    <div class="swiper hero__slider-jobs">
      <div class="hero__slider-jobs-btns" data-slider="jobs-top">
        <div class="hero__slider-jobs-pred">
          <svg
            width="12"
            height="18"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              y1="-0.705882"
              x2="11.3137"
              y2="-0.705882"
              transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 0 8)"
              stroke="white"
              stroke-width="1.41176"
            />
            <line
              x1="0.499134"
              y1="7.50087"
              x2="8.49913"
              y2="15.5009"
              stroke="white"
              stroke-width="1.41176"
            />
          </svg>
        </div>
        <div class="hero__slider-jobs-next">
          <svg
            width="12"
            height="18"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="9.50087"
              y1="8.49913"
              x2="1.50086"
              y2="0.499135"
              stroke="white"
              stroke-width="1.41176"
            />
            <line
              y1="-0.705882"
              x2="11.3137"
              y2="-0.705882"
              transform="matrix(-0.707107 0.707107 0.707107 0.707107 10 8)"
              stroke="white"
              stroke-width="1.41176"
            />
          </svg>
        </div>
      </div>
      <div class="swiper-pagination hero__slider-jobs-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/slaider-jobs1-wumen.jpg"
            alt="wumen"
          />
          <div class="hero__article-data text-p-small">
            Published in Insight
            <time datetime="01-30-2021">Jan 30, 2021</time>
          </div>
          <h4 class="hero__article-title heading-h5">
            Practice making User Flow
          </h4>
          <p class="hero__article-text">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/slaider-jobs1-wumens.jpg"
            alt="wumen"
          />
          <div class="hero__article-data text-p-small">
            Published in Insight
            <time datetime="01-30-2021">Jan 30, 2021</time>
          </div>
          <h4 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h4>
          <p class="hero__article-text">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/slaider-jobs1-men.jpg"
            alt="wumen"
          />
          <div class="hero__article-data text-p-small">
            Published in Insight
            <time datetime="01-30-2021">Jan 30, 2021</time>
          </div>
          <h4 class="hero__article-title heading-h5">
            Using Grid in website design
          </h4>
          <p class="hero__article-text">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/slaider-jobs1-wumen.jpg"
            alt="wumen"
          />
          <div class="hero__article-data text-p-small">
            Published in Insight
            <time datetime="01-30-2021">Jan 30, 2021</time>
          </div>
          <h4 class="hero__article-title heading-h5">
            Practice making User Flow
          </h4>
          <p class="hero__article-text">
            In this article, we'll cover how to create user flows
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
