<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h12">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper insight__slider">
      <div class="insight__slider-btns" data-slider="insight">
        <div class="insight__slider-pred">
          <svg
            width="12"
            height="18"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              y1="-0.705882"
              x2="11.3137"
              y2="-0.705882"
              transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 0 8)"
              stroke="white"
              stroke-width="1.41176"
            />
            <line
              x1="0.499134"
              y1="7.50087"
              x2="8.49913"
              y2="15.5009"
              stroke="white"
              stroke-width="1.41176"
            />
          </svg>
        </div>
        <div class="insight__slider-next">
          <svg
            width="12"
            height="18"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="9.50087"
              y1="8.49913"
              x2="1.50086"
              y2="0.499135"
              stroke="white"
              stroke-width="1.41176"
            />
            <line
              y1="-0.705882"
              x2="11.3137"
              y2="-0.705882"
              transform="matrix(-0.707107 0.707107 0.707107 0.707107 10 8)"
              stroke="white"
              stroke-width="1.41176"
            />
          </svg>
        </div>
      </div>
      <div class="swiper-pagination insight__slider-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            width="582"
            height="332"
            src="./assets/images/insight-slide-1-img.jpg"
            alt="Women typing on laptop and wrting on notebock"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-autor">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            width="582"
            height="332"
            src="./assets/images/insight-slide-2-img.jpg"
            alt="Men typing on"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-autor">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            width="582"
            height="332"
            src="./assets/images/insight-slide-1-img.jpg"
            alt="Women typing on laptop and wrting on notebock"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-autor">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            width="582"
            height="332"
            src="./assets/images/insight-slide-2-img.jpg"
            alt="Men typing on"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-autor">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
